<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChefsNDishes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChefsNDishes.styles.css" asp-append-version="true" />
</head>
<body>

    <div class=" d-flex justify-content-center m-2">
        @* chagne to asp-ACtion *@
        <a class="m-3" href="/dishes"><span class="fs-5 box-shadow">Dishes</span></a>
        <a class="m-3" href="/chefs"><span class="fs-5 box-shadow">Chefs</span></a>
        <a class="m-3" href="/chefs/new"><span class="fs-5 box-shadow">Add a Chef</span></a> 
        <a class="m-3" href="/dishes/new"><span class="fs-5 box-shadow">Add a Dish</span></a>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ChefsNDishes
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
