@model Dish
<div class="text-center">
    <h3>Add a Dish</h3>

<form asp-action="CreateDish" method="post" asp-controller="Home">

        <div class="m-2">
            <label asp-for="Name">Name of Dish</label>
            <input asp-for="Name" name="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="m-2">
            <label asp-for="Calories"># of Calories</label>
            <input asp-for="Calories" name="Calories">
            <span asp-validation-for="Calories" class="text-danger"></span>
        </div>

        <div class="m-2">
            <label asp-for="Tastiness">Tastiness</label>
            <select asp-for="Tastiness" class="form-select " name="Tastiness">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span asp-validation-for="Tastiness" class="text-danger"></span>
        </div>

        <div class="m-2 align-middle">
            <label asp-for="ChefId">Chef's Name</label>
            <select asp-for="ChefId" name="ChefId" class="form-select">
                @foreach(Chef c in ViewBag.AllChefs)
                {
                <option value="@c.ChefId">@c.FirstName @c.LastName @c.ChefId</option>
                }
            </select>
            <span asp-validation-for="ChefId" class="text-danger"></span>
        </div>
        <button type="submit" >Add Dish</button>
    </form>

</div>